$primary-color: #2b59c3;
$light-color: #fffbfc;
$dark-color: #21262b;
$darkGray-color: #353d44;
$gray-color: #424c55;
$lightGray-color: #687077;

$backgroundHhover-color: #353d4416;

$dangerBg-color: #fdbcbe;
$dangerText-color: #c6181e;
$warningBg-color: #fbfdbc;
$warningText-color: #c6a21e;
$successBg-color: #c7fdbc;
$successText-color: #1ec62b;

$transition-effect: all 0.3s ease-in-out;